<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:p="http://www.springframework.org/schema/p"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    
 	xsi:schemaLocation="http://www.springframework.org/schema/beans      
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		
			<bean class="com.pratik.entity.employee" name="emp" scope="singleton"
			p:empId="5" p:empName="pratik"/>
			<bean class="com.pratik.entity.person" name="per" scope="prototype"
			p:perId="11" p:perName="Rohit"/>
		
		</beans>
